#form_login  strong{
    display: block;
    float: left;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

#form_login input[type="submit"]{
    margin-left: 200px;
}

#error{
    color: red;
    display: none;
    padding-left: 130px;
}